body {
	font-family: 'Source Sans Pro', sans-serif!important;
}

.iframe-container {
	height: 100%!important;
}

.page-header {
	text-align: center;
	color: white;
	height: 40vh;
	background-image: -webkit-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: -moz-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: -o-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-page-header {
	color: white;
	height: 40vh;
	background-image: -webkit-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: -moz-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: -o-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigation-bar {
	position: fixed;
	width: 100%;
	z-index: 2;
	background-image: -webkit-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%) !important;
  background-image: -moz-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%) !important;
  background-image: -o-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%) !important;
  background-image: linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%) !important;
/*	background-color: transparent!important;*/
}

.nav-button {
	color: white!important;
}

.navigation-title {
	color: white!important;
	font-family: 'Source Sans Pro', sans-serif!important;
}

.nav-button {
	font-family: 'Source Sans Pro', sans-serif!important;
}

.page-description {
	height: 20vh;
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.navigation-brand-container {
	margin-left: 10px!important;
}

.logo {
	margin-right: 10px!important;
}

.landing-page-container {
	height: 100vh;
	background-image: -webkit-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: -moz-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: -o-linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
  background-image: linear-gradient(-234deg, rgba(67, 152, 185, 1) 0%, rgba(6, 187, 186, 1) 100%);
}

.grid-wrapper {
	padding-right: 0px!important;
	padding-left: 0px!important;
	margin-right: 0px!important;
	margin-left: 0px!important;
	width: 100%!important;
}


.menu-options {
	background-color: #FAFAFA;
	overflow: scroll;
}

.page-wrapper {
	padding-top: 56px;
	height: 100vh;
}

.iframe-wrapper {
	height: 100%;
}

.menu-options {
	position: fixed;
	width: 25%;
	height: 100%;
	z-index: 10;
}